@{
    ViewData["Title"] = "Agendamento";
}

@model List<Agendamento>

<h1>Agendamentos</h1>

<table>
    <tr>
        <th>Cliente</th>
        <th>Nome do Pet</th>
        <th>Serviço</th>
        <th>Data e Hora</th>
    </tr>
   
</table>

<a href="/Agendamento/Criar">Novo Agendamento</a>